$paragraph_font_size: 16px;
$text-color: #333;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $paragraph_font_size;
}

h1, h1 a {
  font-size: 2.00 * $paragraph_font_size;
  margin: 10px 0 20px 0;
  color: $text-color;
  text-decoration: none;
}

h2 {
  font-size: 1.50 * $paragraph_font_size;
  margin-bottom: 10px;
  color: $text-color;
}

h3 {
  font-size: 1.25 * $paragraph_font_size;
  margin-bottom: 10px;
  color: $text-color;
}

h4 {
  font-size: 1.00 * $paragraph_font_size;
  margin-bottom: 10px;
  color: $text-color;
}

h5 {
  font-size: 0.90 * $paragraph_font_size;
  color: $text-color;
}

h6 {
  font-size: 0.75 * $paragraph_font_size;
  color: $text-color;
}

p {
  font-size: $paragraph_font_size;
  margin-bottom: 10px;
  color: $text-color;
  padding-bottom: 5px;
}

a, a:visited {
  color: $text-color;
  text-decoration: underline;
}

a:hover {
  color: lighten($text-color, 15%);
}

li {
  font-size: $paragraph_font_size;
  color: $text-color;
}

input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #666;
  padding: 2px;
}

input[type="submit"] {
  color: $text-color;
}

#footer {
  p {
    text-align: center;
    font-size: 0.8em;
    color: lighten($text-color, 15%);
  }
}
