.row
  .column.grid_6.box
    %h2 LOLWUT?
    %p
      Hey, Go Vote! will be a service that reminds you about local elections. You just follow
      = link_to('@heygovote', 'http://twitter.com/heygovote/')
      on Twitter and it'll send you a DM when local elections are nearing.

  .column.grid_6.box
    %h2 I want to help.
    %p
      Head on over to
      = link_to('Github', 'http://github.com/benhamill/heygovote/')
      to see how you can help. Or, of you're not the coding type, eventually, we'll
      probably need folks to help us input election dates.
